body {
    background-color: rgb(245, 230, 203);
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: fontb;
    src: url(TTDrugsTrialRegular.otf);
}

header {
    background-color: #3D2F2B;
    height: 10rem;
    display: flex;
}
.logo{
    margin-left: 8%;
}
.navbar{
    display: flex;
    background-color: #3D2F2B;
    height: 50px;
    width: 100%;
}
.fundo2 {
    margin-top: -10px;
}

li {
    width: 20px;
    list-style-type: none;
}

.btn-text-top {
    font-family: fontb;
    background-color: aliceblue;
    border: 1px solid rgb(255, 255, 255, .1);
    margin-left: 5%;
    border-radius: 10px;
    color: #8795a2;
    width: 22rem;
    height: 2rem;
}
.btn-buscar-top {
    background-color: #3D2F2B ;
    margin-top: 15px;
    width: 20px;
    height: 22px;
    border: none;
    transform: translateY(-50%);
}

.icons{
    display: flex;
    margin-top: 4%;
    margin-left: 25%;
}

.texto2 {
    font-family: fontb;
    color: #3D2F2B;
    margin-left: 15%;
    margin-top: 11%;
    font-size: 16px;

}

.texto2 a {
    font-family: fontb;
    text-decoration: 1px;
    color: white;
    font-weight: 700;
    text-underline-offset: 0.2rem;
}

li a:hover {
    width: 5px;
    border-bottom: 2px solid #bcb09e;
    color: #d3c5b0;
}
.mySlides {
    display: none;

}
.mySlides img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 15%;
    width: 64rem;
}

.fade {
    animation-name: fade;
    animation-duration: 1.0s;
}

@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

ul {
    margin-left: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
}

ul li {
    width: 80px;
}

.navbar img {
    margin-left: 0.5rem;
}