body {
  font-family: 'Montserrat';
  background-color: #E8E5E0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

form {
  margin: 0 auto; 
  padding: 20px;
  height: 100%;
  border-radius: 5px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}
input[type="username"],
input[type="email"],
input[type="date"],
input[type="text"],
input[type="password"] {
  display: block;
  font-family: 'Montserrat';
  font-size: 14px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #E8E5E0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin-bottom: 20px;
}
input[type="date"]{
  display: block;
  font-family: 'Montserrat';
  font-size: 14px;
  width: 100%;
  padding: 0.5em 2.0em 0.5em 2.0em;
  border-radius: 5px;
  outline: none;
  border: 1px solid #E8E5E0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin-bottom: 20px;
}
.submit {
  position: relative;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  border: none;
  background: #473734;
  color: ghostwhite;
  overflow: hidden;
}

.submit span {
  position: relative;
  transition: color 0.6s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 6.0em 0.8em 6.0em;
}

.submit::before,
.submit::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.submit::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.5s cubic-bezier(0.3, 1, 0.8, 1);
}

.submit:hover::before {
  transform: translate3d(100%, 0, 0);
}

.submit:active {
  transform: scale(0.95);
}

p a{
  font-style: normal black;
  font-size: 15px;
}
.voltar{
  height: 40px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.voltar:hover svg{
  overflow: hidden;
  scale: 1.1;
}