
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: fontb;
    src: url(TTDrugsTrialRegular.otf);
}

@font-face {
    font-family: fontc;
    src: url(TTDrugsTrialbold.otf);
}

header {
    background-color: #3D2F2B;
    height: 180px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}

.fundo2 {
    background-color: moccasin;
    height: 100%;
    width: 100%;
    margin-top: -10px;
}

.form-busca-site {
    width: 400px;
    height: 100%;
    margin-top: 120px;
    margin-right: 800px;
}

.btn-text-top {
    font-family: fontb;
    background-color: aliceblue;
    border: 1px solid rgb(255, 255, 255, .1);
    border-radius: 20px;
    color: #8795a2;
    height: 42px;
    width: 80%;
    padding: 15px 50px 15px 30px;
}

.btn-buscar-top {
    font-family: fontb;
    background: url(https://www.devmedia.com.br/imagens/2013/buscar_grey.png) no-repeat;
    width: 20px;
    height: 22px;
    border: none;
    position: relative;
    top: -35px;
    transform: translateY(-50%);
    left: 340px;
}

.logo {
    margin-top: 10px;
    margin-left: 20px;
}

.carro {
    margin-left: 950px;
    margin-top: -50px;
}

.conta {
    margin-left: 1040px;
    margin-top: -50px;
}

.texto2 {
    font-family: fontb;
    color: #3D2F2B;
    gap: 3rem;
    margin-left: 500px;
    margin-top: -70px;
    display: grid;
    font-size: 25px;
}

.texto2 a {
    font-family: fontb;
    text-decoration: 2px;
    color: white;
    font-weight: 700;
    transition: 0.3s;
    text-underline-offset: 0.2rem;
}

a:hover {
    color: #d3c5b0;
}

.excluir-btn {
    margin-left: 1000px;
    margin-top: -33px;
    padding: 10px 40px;
    margin-top: -13px;
    cursor: pointer;
    transition: 2s;
}

.excluir-btn button:hover {
    transform: scale(0.9);
}

h1 {
    font-family: fontc;
    margin-left: 20px;
}

.texto3 {
    margin-top: 20px;
}

.container {
    width: 100%;
    height: 100vh;
}

.box {
    font-family: fontb;
    width: 50%;
    padding: 20px;
}

p {
    text-align: justify;
    text-indent: 50px;
}

.historia {
    margin-top: -450px;
    margin-left: 110vh;
}

ul {
    display: flex;
}

ul li {
    width: 160px;
}
