@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Fira+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caprasimo&display=swap');


body {
    background-color: #E8E5E0;
    width: 100%;
    height: 100vh;
}

* {
    font-family: 'Fira Sans';
    margin: 0;
    border: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: #3D2F2C;
    display: flex;
}

.cabeca {
    width: 100%;
    height: 100px;
}

.cabeca a {
    text-decoration: 1px;
    color: #3D2F2C;
    font-weight: 700;
    text-underline-offset: 0.2rem;
    font-family: 'Geologica';
    font-size: 17px;
    font-weight: 400;
}

.logo {
    width: 160px;
    height: 100px;
}

.logo img {
    width: 160px;
    height: 100px;
}

.buscar {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 40px;
    margin-right: auto;
    padding: 0;
}

.buscar input {
    font-family: 'Fira Sans';
    font-size: 13px;
    height: 2rem;
    width: 12rem;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 0 60px 0 20px;

    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.buscar.active input {
    border-radius: 5px 5px 0 0;
}

.icons {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 210px;
    height: 90px;
}

.icons .imgconta {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.icons .imgconta img {
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.icons .imgconta img:hover {
    overflow: hidden;
    scale: 1.1;
    transition: 0.3s;
}


.options {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 2.2rem;
    width: 100%;
    font-style: #0000;
    color: #3D2F2C;
    font-size: 15px;
}


.fundo2 {
    margin-top: -10px;
}

ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

li {
    font-size: 16px;
    width: 130px;
    list-style-type: none;
}

.lista {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 100%;
}

li a:hover {
    border-bottom: 2px solid #bcb09e;
    color: #d3c5b0;

}

.carrimg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mySlides {
    margin-top: 5%;
    display: none;
}

.mySlides img {
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64rem;
}

.fade {
    animation-name: fade;
    animation-duration: 1.0s;
}

@keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

 .item :hover{
   transform: scale(1.1);
   overflow-x: hidden;
   cursor:default;
}
.produtos {
    overflow-x: hidden;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.produtos .produtos-itens {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:90px;
    grid-row-gap: 70px;
    width: 100%;
    transition: .3s;
     line-height: 60px ;
}

.produtos .produtos-itens .item {
    max-width: 200px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}

.produtos .produtos-itens .item .img-item {
    width: 100%;
}

.produtos .produtos-itens .item .titulo-item {
    display: block;
    height: 60px;
    text-align: center;
    color: black;
}

.produtos .produtos-itens .item .preco-item {
    display: block;
    text-align: center;
    font-size: 23px;
    color: black;

}

.produtos .produtos-itens .item .botao-item {
    display: block;
    margin: 5px auto;
    border: none;
    background-color: #3D2F2B;
    color: #fff;
    padding: 5px 17px;
    border-radius: 5px;
    cursor: pointer;
  

}

/* .produtos .produtos-itens .item .botao-item {
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
 .produtos .produtos-itens .item .botao-item:hover class .produtos-itens {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  } */



.carrinho {
    border: 1px solid #666;
    width: 35%;
    border-radius: 10px;
    overflow: hidden;
    position:-webkit-sticky; 
    position: fixed;
    transition: .3s;
    margin-right: -100%;
    opacity: 0;
    top:0;
    right:0;
}

.carrinho .header-carrinho {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.carrinho .carrinho-item {
    background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}

.carrinho .carrinho-item img {
    margin-right: 20px;
}

.carrinho .carrinho-item .carrinho-item-titulo {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrinho .carrinho-item .selector-quantidade {
    display: inline-block;
    margin-right: 25px;
}

.carrinho .carrinho-item .carrinho-item-quantidade {
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}

.carrinho-itens{
    min-height: 195px;
}

.carrinho .carrinho-item .selector-quantidade i {
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}

.carrinho .carrinho-item .carrinho-item-preco {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}

.carrinho .carrinho-item .btn-eliminar {
    position: absolute;
    right: 5px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}

.carrinho .carrinho-item .btn-eliminar i {
    pointer-events: none;
}

.carrinho-total {
    background-color: #f3f3f3;
    padding: 30px;
}

.carrinho-total .fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrinho-total #btn-pagar {
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.carrinho-total #btn-pagar:hover {
    scale: 1.05;
}

@media screen and (max-width: 850px) {
    .produtos {
        display: block;
    }

    .produtos-itens {
        width: 100% !important;
    }

    .carrinho {
        width: 100%;
    }
}


#payment-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    background: #FFFFFF;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    max-width: 450px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.paymentother {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    padding: 10px;
    justify-content: center;
}

.paymentother button {
    height: 55px;
    background: #F2F2F2;
    border-radius: 11px;
    padding: 0;
    border: 0;
    outline: none;
}

.paymentother button svg {
    height: 18px;
}

.paymentother button:last-child svg {
    height: 22px;
}

.separator {
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 10px;
    color: #8B8E98;
    margin: 0 10px;
}

.separator p {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    margin: auto;
}

.separator .line {
    display: inline-block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e8e8e8;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input_container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.split {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 15px;
}

.split input {
    width: 100%;
}

.input_label {
    font-size: 12px;
    color: #8B8E98;
    font-weight: 600;
}

.input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 16px;
    border-radius: 9px;
    outline: none;
    background-color: #F2F2F2;
    border: 1px solid #e5e5e500;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
}

/* Reset input number styles */
.input_field::-webkit-outer-spin-button,
.input_field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#btn-instituicao {
    width: 100%;
    height: 40px;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

#btn-instituicao:hover {
    scale: 1.05;
}

#btn-confirmar {
    width: 100%;
    height: 40px;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

#btn-confirmar:hover {
    scale: 1.05;
}

#instituicao-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal2 {
    background: #FFFFFF;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    max-width: 450px;
}

.instituicao-card {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    padding: 10px;
    justify-content: center;
}

.instituicoes .instituicao-card .instituicao .titulo-inst{
    display: block;
    height: 20px;
    text-align: center;
}

.img-inst{
    height: 200px;
}

input{
    margin-left: 10px;
}
@media screen and (max-width: 850px) {
    .instituicoes {
      display: block;
    }
    .instituicao-card{
        width: 100% !important;
    }
}

#btn-confirmar2 {
    width: 200%;
    height: 40px;
    border: none;
    margin-left: 10px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

#btn-confirmar2:hover {
    scale: 1.05;
}

@-webkit-keyframes animacaobw {
    from {
        -webkit-transform: rotate(4deg)
    }

    to {
        -webkit-transform: rotate(-4deg)
    }
}

@keyframes animacaobw {
    from {
        transform: rotate(4deg)
    }

    to {
        transform: rotate(-4deg)
    }
}

#animacaobw {
    -webkit-animation: animacaobw 2s alternate infinite ease-in-out;
    animation: animacaobw 2s alternate infinite ease-in-out;
}


.footer {
    display: flex;
    justify-content: center;
    background-color: #3D2F2B;
    padding: 3rem;
    height: 80px;
    margin-top: 10%;
    flex-direction: column;
}
/* /* .containercake img{
    width: 20%;
    height: 30%;
    position:relative;
	/* left:0%; */


.container_footer{
    display: flex;
    justify-content: space-around;
    height: 100%;
    background-color: #3D2F2B;
}

.container_footer a{
    text-decoration: none;
}

.contato-link {
    font-family: 'Rowdies';
    font-size: 20px;
    letter-spacing: 3px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
    text-decoration: none;
    color: #FFF;
}


.termos-link {
    font-family: 'Rowdies';
    font-size: 20px;
    letter-spacing: 3px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
    text-decoration: none;
    color: #FFF;
}

.trocas-link{
    font-family: 'Rowdies';
    font-size: 20px;
    letter-spacing: 3px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
    text-decoration: none;
    color: #FFF;
}

.contato-link:hover {
    transform: scale(1.1);
    color: #A78983;

}

.termos-link:hover {
    transform: scale(1.1);
    color: #A78983
}

.trocas-link:hover {
    transform: scale(1.1);
    color: #A78983
}
.direitos{
    color: #bcb09e;
    font-size:15px;
    margin-top: 25px;
    margin-left: 30%;
    display: flex;
    align-items: center;
   
}
 .direitos img{
    width: 10%;
    display:flex;

}
.containeranimacao{
    width: 100%;
    height: 50px;
    background: #A78983;
    margin-top: 10px;
    font-family: 'Bebas Neue';
    
}

.containeranimacao p{
    font-family: 'Caprasimo';
    font-size: 25px;
}

#animacao2{
    position: absolute;
    margin:13px;
    right: 0;
    width: max-content;
    height: 24px;
    animation: anima 10s linear infinite;
    overflow: hidden;
 
 }
 
 #animacao2::after{
    content:"";
    position:absolute;
    left:100vw;
    background: #A78983;
    width: 40px;
    height: 24px;
 }
 
 @keyframes anima{
    from {left: 0}
    to {left: 100%}
 }