



.footer {
    display: flex;
    justify-content: center;
    background-color: #3D2F2B;
    padding: 3rem;
    height: 80px;
    margin-top: 10%;
    flex-direction: column;
}
/* /* .containercake img{
    width: 20%;
    height: 30%;
    position:relative;
	/* left:0%; */


.container_footer{
    display: flex;
    justify-content: space-around;
    height: 100%;
    background-color: #3D2F2B;
}

.container_footer a{
    text-decoration: none;
}

.contato-link {
    font-family: 'Rowdies';
    font-size: 20px;
    letter-spacing: 3px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
    text-decoration: none;
    color: #FFF;
}


.termos-link {
    font-family: 'Rowdies';
    font-size: 20px;
    letter-spacing: 3px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
    text-decoration: none;
    color: #FFF;
}

.trocas-link{
    font-family: 'Rowdies';
    font-size: 20px;
    letter-spacing: 3px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
    text-decoration: none;
    color: #FFF;
}

.contato-link:hover {
    transform: scale(1.1);
    color: #A78983;

}

.termos-link:hover {
    transform: scale(1.1);
    color: #A78983
}

.trocas-link:hover {
    transform: scale(1.1);
    color: #A78983
}
.direitos{
    color: #bcb09e;
    font-size:15px;
    margin-top: 25px;
    margin-left: 30%;
    display: flex;
    align-items: center;
   
}
 .direitos img{
    width: 10%;
    display:flex;

}
/* .containeranimacao{
    width: 100%;
    height: 50px;
    background: #A78983;
    margin-top: 10px;
    font-family: 'Bebas Neue';
    
}

.containeranimacao p{
    font-family: '';
    font-size: 25px;
}

#animacao2{
    position: absolute;
    margin:13px;
    right: 0;
    width: max-content;
    height: 24px;
    animation: anima 10s linear infinite;
    overflow: hidden;
 
 }
 
 #animacao2::after{
    content:"";
    position:absolute;
    left:100vw;
    background: #A78983;
    width: 40px;
    height: 24px;
 }
 
 @keyframes anima{
    from {left: 0}
    to {left: 100%}
 } */